{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>{{ object.username }}</h2>
      {% if object.name %}
        <p>{{ object.name }}</p>
      {% endif %}
    </div>
  </div>

{% if object == request.user %}
<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12">
    <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">Edit Profile</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>
    <!-- Your Stuff: Custom user template urls -->
  </div>

</div>

<br>
<h3>Academic History</h3>
<table class="table table-striped ">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Year</th>
      <th scope="col">Semester</th>
      <th scope="col">Course Code</th>
      <th scope="col">Credits</th>
      <th scope="col">Grade</th>
    </tr>
  </thead>
  <tbody>
    {% for course in user_courses %}
      <tr>
        <td>{{ course.year }}</td>
        <td>{{ course.semester }}</td>
        <td>{{ course.code }}</td>
        <td>{{ course.credits }}</td>
        <td>{{ course.grade }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<!-- End Action buttons -->
{% endif %}


</div>
{% endblock content %}

