{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
  <h1>{{ user.username }}</h1>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ update_form|crispy }}
    <button type="submit" name="user_update_submit" class="btn btn-primary">Update</button>
  </form>

  <br>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ transcript_form|crispy }}
    <button type="submit" name="transcript_upload_submit" class="btn btn-primary">Upload Transcript</button>
  </form>

{% endblock %}
