{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
  <h1>{{ user.username }}</h1>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ update_form|crispy }}
    <button type="submit" name="user_update_submit" class="btn btn-primary">Update</button>
  </form>

  <br>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ transcript_form|crispy }}
    <button type="submit" name="transcript_upload_submit" class="btn btn-primary">Upload Transcript</button>
  </form>

<br>

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ course_form|crispy }}
  <button type="submit" name="course_input_submit" class="btn btn-primary">Add Course</button>
</form>

<style>
  .remove-course-btn {
    border: none;
    background-color: transparent;
    color: red;
    cursor: pointer;
  }

  .remove-course-btn:hover {
    color: darkred;
  }
</style>

<h3>My Courses</h3>
<ul>
  {% for course in user_courses %}
    <li>{{ course.code }} - {{ course.credits }} Credits - Grade: {{ course.grade }}
      <form method="post" style="display:inline;">
        {% csrf_token %}
        <input type="hidden" name="course_id" value="{{ course.id }}">
        <button type="submit" name="remove_course_submit" class="remove-course-btn">
          <i class="fas fa-times"></i>
        </button>
      </form>
    </li>
  {% endfor %}
</ul>

{% endblock %}
